@font-face {
    font-family: 'Gotham Rounded';
    src: url('/GothamRounded-Light.eot');
    src: url('/GothamRounded-Light.eot?#iefix') format('embedded-opentype'),
        url('/GothamRounded-Light.woff2') format('woff2'),
        url('/GothamRounded-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Rounded';
    src: url('/GothamRounded-Medium.eot');
    src: url('/GothamRounded-Medium.eot?#iefix') format('embedded-opentype'),
        url('/GothamRounded-Medium.woff2') format('woff2'),
        url('/GothamRounded-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Rounded';
    src: url('/GothamRounded-MediumItalic.eot');
    src: url('/GothamRounded-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('/GothamRounded-MediumItalic.woff2') format('woff2'),
        url('/GothamRounded-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Rounded';
    src: url('/GothamRounded-BoldItalic.eot');
    src: url('/GothamRounded-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/GothamRounded-BoldItalic.woff2') format('woff2'),
        url('/GothamRounded-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Rounded';
    src: url('/GothamRounded-Bold.eot');
    src: url('/GothamRounded-Bold.eot?#iefix') format('embedded-opentype'),
        url('/GothamRounded-Bold.woff2') format('woff2'),
        url('/GothamRounded-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Rounded Book';
    src: url('/GothamRounded-Book.eot');
    src: url('/GothamRounded-Book.eot?#iefix') format('embedded-opentype'),
        url('/GothamRounded-Book.woff2') format('woff2'),
        url('/GothamRounded-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Rounded';
    src: url('/GothamRounded-LightItalic.eot');
    src: url('/GothamRounded-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('/GothamRounded-LightItalic.woff2') format('woff2'),
        url('/GothamRounded-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Rounded Book';
    src: url('/GothamRounded-BookItalic.eot');
    src: url('/GothamRounded-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('/GothamRounded-BookItalic.woff2') format('woff2'),
        url('/GothamRounded-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

h1{
	font-family: "Gotham Rounded", sans-serif !important;
}

.dropdown:hover>.dropdown-menu{
	display: block;
}

.dropdown-item{
	 text-transform: uppercase;
}

.nav-link{
	text-transform: uppercase;
}